In [1]:
import pandas as pd
import numpy as np
import bs4
from bs4 import BeautifulSoup
import requests
import urllib
import urllib.request
from urllib.request import urlretrieve 
from urllib.request import urlopen, Request
import re
from scrape_wiki import scrape_money

In [2]:
fileName = 'na_budget.csv'
df_raw = pd.read_csv('../../_data/_processed/' + fileName)
df = df_raw.copy()
df['FILM'] = df['name'] + ' (' + df['release year'].astype(str) + ')'
# lets remove special characters and replace them with underscores, we're keeping the year!
df['title_urled'] = df['FILM'].str.replace('[^A-Za-z0-9]+', '_', regex=True).str.strip('_').str.lower()
df.head(1).T

                                                0
name                                         Fame
rating                                          R
genre                                       Drama
year                                         1980
released             May 16, 1980 (United States)
score                                         6.6
votes                                     21000.0
director                              Alan Parker
writer                           Christopher Gore
star                                  Eddie Barth
country                             United States
budget                                        NaN
gross revenue                          21202829.0
company                 Metro-Goldwyn-Mayer (MGM)
runtime                                     134.0
release month                                 May
release day                                    16
release year                                 1980
other                             (United States)
release month num                               5
release date                           1980-05-16
release quarter                                 2
release day of week                        Friday
FILM                                  Fame (1980)
title_urled                             fame_1980

In [3]:
df_success = pd.DataFrame()
df_fail = pd.DataFrame()
for year, movies in df.groupby(df['release year']):
    print(f'Starting {year}...')
    this_df = pd.DataFrame(movies)
    try:
        this_df['budget_scraped'] = this_df.apply(scrape_money, axis=1)
    except:
        df_fail = df_fail.append(this_df)
        print(f'Thats a big NOPE for the {movies.name.size} movies release in {year}!')

    else:
        df_success = df_success.append(this_df)
        print(f'Success! Budgets for the {movies.name.size} movies released in {year} have been scraped.')
        print(this_df.head(1)['name'] + '|' + this_df.head(1)['budget_scraped'].astype(str))

df_fail.to_csv('../../_data/_processed/' + 'na_budget.csv', index=False)
df_success.to_csv('../../_data/_processed/' + 'scraped_budget.csv', index=False)

Starting 1980...
Success! Budgets for the 39 movies released in 1980 have been scraped.
0    Fame|$8.5 million[3]
dtype: object
Starting 1981...
Success! Budgets for the 41 movies released in 1981 have been scraped.
11    The Watcher in the Woods|$9 million[1]
dtype: object
Starting 1982...
Success! Budgets for the 55 movies released in 1982 have been scraped.
43    Mantis Fist Fighter|None
dtype: object
Starting 1983...
Success! Budgets for the 51 movies released in 1983 have been scraped.
46    Possession|$2.4 million[1]
dtype: object
Starting 1984...
Success! Budgets for the 67 movies released in 1984 have been scraped.
147    Hot Dog... The Movie|$2 million[2]
dtype: object
Starting 1985...
Success! Budgets for the 82 movies released in 1985 have been scraped.
162    Escape from the Bronx|None
dtype: object
Starting 1986...
Success! Budgets for the 108 movies released in 1986 have been scraped.
190    Forever Young|None
dtype: object
Starting 1987...
Success! Budgets for the 84 movies released in 1987 have been scraped.
221    Repentance|None
dtype: object
Starting 1988...
Success! Budgets for the 71 movies released in 1988 have been scraped.
348    Movers & Shakers|None
dtype: object
Starting 1989...
Success! Budgets for the 73 movies released in 1989 have been scraped.
387    The Adventures of Milo and Otis|¥800 million[1]
dtype: object
Starting 1990...
Thats a big NOPE for the 81 movies release in 1990!
Starting 1991...
Thats a big NOPE for the 75 movies release in 1991!
Starting 1992...
Success! Budgets for the 56 movies released in 1992 have been scraped.
540    Intervista|None
dtype: object
Starting 1993...
Success! Budgets for the 61 movies released in 1993 have been scraped.
650    Happily Ever After|None
dtype: object
Starting 1994...
Success! Budgets for the 68 movies released in 1994 have been scraped.
860    Jamón, Jamón|$80 million[3]
dtype: object
Starting 1995...
Success! Budgets for the 63 movies released in 1995 have been scraped.
877    Naked Killer|None
dtype: object
Starting 1996...
Success! Budgets for the 56 movies released in 1996 have been scraped.
939    Les visiteurs|None
dtype: object
Starting 1997...
Success! Budgets for the 50 movies released in 1997 have been scraped.
792    Operation Condor|None
dtype: object
Starting 1998...
Success! Budgets for the 56 movies released in 1998 have been scraped.
886    La sentinelle|None
dtype: object
Starting 1999...
Success! Budgets for the 35 movies released in 1999 have been scraped.
658    Violent Cop|None
dtype: object
Starting 2000...
Success! Budgets for the 34 movies released in 2000 have been scraped.
1218    Croupier|None
dtype: object
Starting 2001...
Success! Budgets for the 43 movies released in 2001 have been scraped.
1171    Cure|est. $1,000,000 (JPY)
dtype: object
Starting 2002...
Success! Budgets for the 23 movies released in 2002 have been scraped.
1337    Waking Life|$2 million
dtype: object
Starting 2003...
Success! Budgets for the 39 movies released in 2003 have been scraped.
1338    Cowboy Bebop: The Movie|None
dtype: object
Starting 2004...
Success! Budgets for the 32 movies released in 2004 have been scraped.
1365    City of God|$3.3 million[3]
dtype: object
Starting 2005...
Success! Budgets for the 41 movies released in 2005 have been scraped.
1336    Pulse|None
dtype: object
Starting 2006...
Success! Budgets for the 34 movies released in 2006 have been scraped.
1420    Barely Legal|None
dtype: object
Starting 2007...
Success! Budgets for the 46 movies released in 2007 have been scraped.
1451    Black Friday|₹6.5 crore (equivalent to ₹17 cro...
dtype: object
Starting 2008...
Success! Budgets for the 36 movies released in 2008 have been scraped.
562    As Tears Go By|None
dtype: object
Starting 2009...
Success! Budgets for the 26 movies released in 2009 have been scraped.
1555    Shelter|$22 million[2]
dtype: object
Starting 2010...
Success! Budgets for the 31 movies released in 2010 have been scraped.
1615    The Human Centipede (First Sequence)|None
dtype: object
Starting 2011...
Thats a big NOPE for the 41 movies release in 2011!
Starting 2012...
Success! Budgets for the 33 movies released in 2012 have been scraped.
1676    Tinker Tailor Soldier Spy|None
dtype: object
Starting 2013...
Success! Budgets for the 38 movies released in 2013 have been scraped.
1709    The Prey|None
dtype: object
Starting 2014...
Success! Budgets for the 35 movies released in 2014 have been scraped.
1121    A Summer's Tale|None
dtype: object
Starting 2015...
Success! Budgets for the 49 movies released in 2015 have been scraped.
1790    Before We Go|$3 million[1]
dtype: object
Starting 2016...
Success! Budgets for the 39 movies released in 2016 have been scraped.
781    Only Yesterday|None
dtype: object
Starting 2017...
Success! Budgets for the 57 movies released in 2017 have been scraped.
1841    The Blackcoat's Daughter|None
dtype: object
Starting 2018...
Success! Budgets for the 61 movies released in 2018 have been scraped.
1908    This Beautiful Fantastic|None
dtype: object
Starting 2019...
Thats a big NOPE for the 104 movies release in 2019!
Starting 2020...
Success! Budgets for the 14 movies released in 2020 have been scraped.
2038    Portrait of a Lady on Fire|€4.86 million[2]
dtype: object